@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

:root {
  --main: rgb(68, 175, 105);
  --sec: rgb(46, 56, 46);
  --acc: rgb(183, 209, 218);
  --red: rgb(139, 0, 0);

  --swiper-navigation-color: rgb(68, 175, 105);
  --swiper-pagination-color: rgb(68, 175, 105);
}

.bg-main {
  background-color: var(--main);
}

.bg-sec {
  background-color: var(--sec);
}

.bg-acc {
  background-color: var(--acc);
}

.text-main {
  color: var(--main);
}

.text-sec {
  color: var(--sec);
}

.text-acc {
  color: var(--acc);
}

.text-red {
  color: var(--red);
}

.auth-form-width {
  width: 220px;
}

.fs-8 {
  font-size: 12px;
}

.form-width {
  width: 300px;
}

.vh-100-with-navbar {
  min-height: calc(100vh - 128px);
}

.vh-100-auth {
  min-height: calc(100vh - 112px);
}

.article-card-width {
  width: 300px;
}

.swiper {
  width: 325px;
  height: 325px;
}

.pagination > li > a, .pagination > li > span { 
  color: var(--main); 
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover { 
  background-color: var(--main); 
  border-color: var(--main); 
}

.app-font {
  font-family: "Roboto", sans-serif;
}

.display-font {
  font-family: "Teko", sans-serif;
}
